version: '3.2'
services:
  stubapi:
    build: stubapi
    container_name: requests-stubapi
    ports:
      - '8080:8080'
      - '8443:8080'
    volumes:
      - './stubapi/:/home/wiremock'

  requests:
    image: sitture/docker-gauge-java
    container_name: requests
    depends_on:
      - stubapi
    volumes:
      - '.:/usr/src/app'
    command: mvn -B test -Denv=ci
