version: 2
jobs:
  build:
    docker:
      - image: sitture/docker-gauge-java
    working_directory: ~/gauge-requests
    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      # run tests!
      - run: mvn clean test
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

  stubapi:
    machine:
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Run Acceptance Tests
          command: |
            docker-compose build
            docker-compose up
          background: true
      - run:
          name: Curl Mockserver
          command: |
            sleep 10
            docker ps
            if [ $(curl -X GET -sLI -w "%{http_code}\\n" "http://127.0.0.1:8080/mock/api" -o /dev/null --connect-timeout 5 --max-time 10) -ne "200" ] ; then echo "Mockserver not running!" 1>&2; exit 1; fi
      - run:
          name: Shut Down Images
          command: docker-compose down -v --remove-orphans
          when: always

workflows:
  version: 2
  build_and_stubapi:
    jobs:
      - build
      - stubapi