version: 2
jobs:
  build:
    working_directory: ~/gauge-requests
    docker:
      - image: sitture/docker-gauge-java
      - image: rodolpheche/wiremock
    steps:
      - checkout
      - restore_cache:
          key: gauge-requests-{{ checksum "pom.xml" }}
      - run:
          name: Update project versions and Setup Mappings
          command: |
            .circleci/update_versions.sh ${CIRCLE_BUILD_NUM}
            # setup stub mappings
            .circleci/setup_stub_mappings.sh
      - run:
          name: Build Project
          command: mvn -B install
      - save_cache:
          paths:
            - ~/.m2
            - /root/.m2
          key: gauge-requests-{{ checksum "pom.xml" }}

workflows:
  version: 2
  build:
    jobs:
      - build