version: 2
jobs:
  build:
    machine:
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: Build Images
          command: |
            docker-compose -f docker-compose-ci.yml build
      - run:
          name: Update project versions
          command: |
            .circleci/update_versions.sh ${CIRCLE_BUILD_NUM}
      - run:
          name: Build project
          command: |
            docker-compose -f docker-compose-ci.yml run requests
      - run:
          name: Shut Down Images
          command: docker-compose -f docker-compose-ci.yml down -v --remove-orphans
          when: always

workflows:
  version: 2
  build:
    jobs:
      - build